# Python stuff
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/

# PyCharm
.idea/

# Qt Creator
*.pyproject

# Compiled output
*.build
main.bin

# Application specific
settings.ini
keymap/keymap
keymap/keymap.o

# Other
*.log
*.user
*.so
