[Unit]
Description=SHPI
After=multi-user.target

#graphical.target

[Service]
Environment=QT_QPA_PLATFORM=eglfs
Environment=LD_LIBRARY_PATH=/usr/local/qt5pi/lib
Environment=QT_QPA_PLATFORM_PLUGIN_PATH=/usr/local/qt5pi/plugins/platforms
ExecStart=python3 /home/pi/main_app_dev/main.py
WorkingDirectory=/home/pi/main_app_dev
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target




